{% extends "registration/registration_base.html" %}
{% load i18n %}
{% block title %}{% trans "Reset password" %}{% endblock %}
{% block content %}{% blocktrans %}
Hast Du Dein Passwort vergessen? Gib Deine Email-Adresse hier an, und wir schicken Dir eine
Email mit einer Beschreibung, wie Du ein neues Passwort bekommst.
{% endblocktrans %}
<form method='post' action=''>{% csrf_token %}
<table>
    {{ form }}
    <tr><td></td><td><input type='submit' value="{% trans "Passwort zurücksetzen"  %}" /></td></tr>
</table>
</form>
{% endblock %}
