{% load i18n %}{% trans "Greetings" %} {% if user.get_full_name %}{{ user.get_full_name }}{% else %}{{ user }}{% endif %},

{% blocktrans %}Du hast diese Email bekommen, weil Du darum gebeten hast, dass Dein
Passwort für {{ domain }} zurückgesetzt wird. Solltest Du das nicht getan haben, oder
das nicht wollen, so ignoriere diese Nachricht einfach.

Um das Passwort zurückzusetzen, klicke auf den folgenden Link, oder kopiere ihn
in Deinen Browser:
{% endblocktrans %}

{{ protocol }}://{{ domain }}{% url 'auth_password_reset_confirm' uid token %}

{% blocktrans with username=user.username %}
Dein Benutzername ist: {{ username }}

Viele Grüße

{{ site_name }}
{% endblocktrans %}
